<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PW API</title>

    <style>
        .list-item {
            margin-top: 15px;
            font-size: 20px;
        }
        code {
            color: rgb(108, 108, 108);
        }
    </style>
</head>

<body>
    <h1 style="text-align: center;">Welcome to un-official PW API</h1>
    <hr>
    <h2 style="text-align: center;">PW API Guide:</h2>
    <hr>
    <h2 style="text-align: center;">In order to get response from PW API you need to have your access token</h2>
    <div style="text-align: center;">
        <h2>To get your batches use this url: <code>https://batter-pw-api.herokuapp.com/<strong>[accessToken]/batches</strong></code></h2>
        <h2>To get your profile use this url: <code>https://batter-pw-api.herokuapp.com/<strong>[accessToken]/profile</strong></code></h2>
    </div>
    </section>
    <!-- <form action="/" method="post" style="content: center;">
        <input type="text" name="access"><button type="submit">Submit</button>
    </form> -->
</body>

</html>